#primo-blocco{
    background-image: url("https://media.discordapp.net/attachments/1418251127031468042/1421051905550843945/banner.jpg?ex=68d7a138&is=68d64fb8&hm=5d42986ce3842126373711bf115b36a77c3c294a8c9c77d448aee2697aaed68b&=&format=webp&width=816&height=544");
}
#button{
 background-color: orangered;
 color:whitesmoke;
}
.testo-grassetto{
    font-size: larger;
    color:rgb(78, 78, 240);
    font-weight: bold;
}
.corsivo{
    font-style: italic;
}